:root
{
    --hero-back:#1c1d25;
    --hero-front:white;

    --section-back:white;
    --section-front:black;

    --nav-back:#2b2c38;
    --accent:coral;
    --accent-transparent:#ef744b80;
    --accent-secondary:#ef744b;

    --btn-active-back:#808080;
    --btn-active-front:#A9A9A9;

    --shadow:#BBBBBB80;
    --heavy-shadow:rgb(150, 150, 150);
}

html, body
{
    margin:0;
    font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;
}

section
{
    background-color: var(--section-back);
}

.hero
{
    background-color: var(--hero-back);
    height: 100vh;
    color: var(--hero-front);
    font-size: 40px;
}

footer
{
    background-color: var(--hero-back);
    color:var(--hero-front);
    text-align: center;
    padding: 80px;
}

nav
{
    position:fixed;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    background-color: #2b2c38;
    z-index: 99;
}

ul
{
    padding:0;
    list-style: none;
}

.nav-list
{
    display:flex;
    font-size:30px;
    margin:10px;
    transition: height linear 0.3s;
}

.nav-list li
{
    align-items: center;
    text-decoration: none;
    color:white;
}

.nav-list li:hover
{
    background-color: white;
    color:#2b2c38;
}

.nav-list li a
{
    display:inline-block;
    height:100%;
    padding:0 10px 0 10px;
}

a
{
    text-decoration: none;
    color:inherit;
}

h1
{
    font-size: 90px;
    margin:0;
}

h2
{
    margin-top:0;
    font-size: 50px;
}

h3
{
    margin: 10px auto 0 auto;
}

p
{
    margin:0;
    font-size:30px;
    font-weight:300;
}

.hero-area
{
    display:flex;
    height:100%;
    justify-content: space-between;
    align-items:center;
    background-image: url("images/Think_Light.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100vmin;
}

.hero-text
{
    margin-left:80px;
    /*margin-bottom:200px;*/
}

.button, .sm-button
{
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    background-color: coral;
    color: white;
    text-align: center;
    font-size:30px;
    font-weight:300;
    padding:10px;
    margin-top:20px;
}

.sm-button
{
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    user-select: contain;
}

.button:hover, .sm-button:hover
{
    background-color: #ef744b;
}

.button:active, .sm-button:active
{
    background-color: #A9A9A9;
    color:#808080;
}

.logo
{
    height:50px;
    margin:20px;
    margin: 10px 10px 0 10px;
    vertical-align: sub;
}

.social
{
    margin:20px;
}

.sub-section
{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    align-items: center;
}

.information
{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-container
{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.stat
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
}

.stat h2
{
    display: inline;
    font-size: 40px;
    margin: 0 10px 0 0;
}

.headshot
{
    width: 300px;
    border-radius: 150px;
}

.headshot-container, .headshot-container > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.headshot-container .button
{
    display: block;
    margin-bottom: 10px;
}

.headshot-container span
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sm-only
{
    display: none;
}

.gallery-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    min-width: 0; /* https://stackoverflow.com/q/36247140/3597276 */
    max-width: 100%;
}

.gallery
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 0; /* https://stackoverflow.com/q/36247140/3597276 */
}

.skills-wrapper
{
    margin-top: 20px;
}

.skills
{
    display: flex;
    overflow: auto hidden;
    max-width: 100%;
    gap: 20px;

    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.skills::-webkit-scrollbar { 
    display: none;  /* Safari, Chrome & Opera */
}

.skills-shadow
{
    position: relative;
}

.skills-shadow::before, .skills-shadow::after
{
    content: "";
    position: absolute;
    width: 75px;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.skills-shadow::before {
    background: linear-gradient(90deg, var(--shadow) 0%, transparent 100%);
    left: 0;
}

.skills-shadow::after {
    background: linear-gradient(90deg, transparent 0%, var(--shadow) 100%);
    right: 0;
}

.skills-shadow:hover::before, .skills-shadow:hover::after
{
    display: flex;
    align-items: center;
    font-size: 50px;
    color: var(--accent-transparent);
}

.skills-shadow:hover::before
{
    content: "◀";
    padding-left: 5px;  
    justify-content: flex-start; 
}

.skills-shadow:hover::after
{
    content: "▶";
    padding-right: 5px;
    justify-content: flex-end; 
}

.skill
{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.skill div
{
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
}

.expertise
{
    width: 100%;
}

.expertise .skills
{
    justify-content: space-around;
    flex-wrap: wrap;
}

.expertise .skills::before, .expertise .skills::after
{
    background: none;
    content:none;
}

.expertise .skill
{
    max-height: 300px;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
}

.skill img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.timeline-container
{
    width: 100%;
    box-shadow: 0 5px 20px var(--heavy-shadow);
    border-radius: 10px;
    overflow: hidden;
}

.experience-container
{
    width: 100%;
}

.dropdown-button
{
    display:flex;
    justify-content: space-between;
    border: 1px solid var(--accent-secondary);
    background-color: var(--accent);
    color: white;
    font-size: 20px;
    padding:10px 15px;
    min-width: 100%;
}

.dropdown-button::after { content: "▼"; }
.dropdown-button.dropped::after { content: "▲"; }

.dropdown-button:hover { background-color: var(--accent-secondary); }
.dropdown-button:active { background-color: var(--btn-active-back); color: var(--btn-active-front); border: 0; }
.dropdown-button:focus { outline: 0; }

.experiences
{
    /*display: none;*/
    height: 0;
    transition: height ease 0.5s, padding ease 0.5s;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.experiences::before
{
    content: "";
    position: absolute;
    width: 20px;
    background-color: var(--accent-transparent);
    z-index: -1;
    left: 60px;
    top: 0;
    bottom: 0;
}

.experiences.show
{
    /*display: block;*/
    padding: 20px 0;
}

.exp-card
{
    display: flex;
    align-items: stretch;
    margin: 20px 0;
    padding: 0 20px;
}

.exp-card::before
{
    content: "";
    background-color: var(--section-back);
    border: 1em solid var(--accent);
    border-radius: 50%;
    height: calc(80px - 2em);
    width: calc(80px - 2em);
    margin: 10px;
}

.exp-title
{
    margin:0;
}

.exp-desc
{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
}

.exp-desc div:last-child
{
    flex-grow: 1;
}

.exp-desc small
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.exp-logo
{
    height:100px;
    width: auto;
    margin:0 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px var(--heavy-shadow);
}

.project-card
{
    width: 280px;
    height: 480px;
    box-shadow: 5px 5px 20px rgb(150, 150, 150);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card div
{
    display: flex;
    flex-direction: column;
    min-height: 0; /* https://stackoverflow.com/q/36247140/3597276 */
}

.project-container
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-image
{
    margin-top: 10px;
    width: 250px;
    box-shadow: 0px 0px 10px 0px rgb(150 150 150);
    border-radius: 125px;
    align-self: center;
}

.project-desc
{
    min-height: 0px;
    overflow-y: auto;
    flex-shrink: 1;
}

.subtext
{
    font-size: 15px;
    font-weight: 300;
}

hr
{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link
{
    text-decoration:none;
    color: #ef744b;
}

.hamburger
{
    display: none;
}

.hamburger:focus
{
    outline: 0;
}

form
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea
{
    font-family: Arial, Helvetica, sans-serif;

    display: block;
    width: 100%;
    border-radius: 10px;
    padding:10px;
    border:0;
    font-size:20px;
    font-weight: 300;
    margin-bottom: 10px;
    resize: vertical;
}

label
{
    align-self: flex-start;
}

@keyframes spin
{
    from { transform: rotate(-90deg); }
    to { transform: rotate(0deg); }
}

@-moz-keyframes spin
{
    from { -moz-transform: rotate(-90deg); }
    to { -moz-transform: rotate(0deg); }
}

@media only screen and (max-width: 1000px)
{
    .hamburger
    {
        display:block;
        border: 0;
        background-color: var(--accent);
        color: white;
        font-size: 30px;
        padding:20px 30px;
        min-width: 50px;
        min-height: 1em;
        align-self: flex-end;
    }

    .hamburger:hover { background-color: var(--accent-secondary); }
    .hamburger:active { background-color: var(--btn-active-back); color: var(--btn-active-front); }

    .nav-list
    {
        list-style: none;
        display: block;
        overflow: hidden;
        height: 0;
        transition: height 0.3s;
        background-color: #2b2c38;
        margin: 0px;
    }

    .nav-list.show
    {
        /*display: block;*/
        /* height: auto; */
        margin-bottom:10px;
    }

    .nav-list li
    {
        padding:0 0 0 35px;
        /*display: none;*/
    }

    .nav-list.show li
    {
        display: block;
    }

    .nav-list li:hover
    {
        list-style-type: "▷";
    }

    .nav-list li a 
    {
        display: list-item;
        padding-left: 10px;
    }

    .nav-list li a:hover::marker
    {
        animation: spin 0.2s ease-out forwards;
        -moz-animation: 0.2s ease-out 0s 1 forwards running spin;
    }

    nav
    {
        flex-direction: column-reverse;
    }

    .logo
    {
        width:60px;
        height:60px;
        margin:7px;
        position: absolute;
        left:0;
        top:0;
    }

    .sub-section
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .information
    {
        margin-right: 0;
        padding-top: 80px;
    }

    .headshot-container
    {
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    .hero-area
    {
        background-position: 150% 100%;
    }

    .sub-section, .sub-section-alt, footer
    {
        padding: 40px;
        padding-top: 80px;
    }

    .hero-text
    {
        margin-left: 20px;
    }
}

@media screen and (max-width: 780px)
{
    .headshot-container
    {
        justify-content: center;
        flex-direction: column;
    }

    .sm-only
    {
        display: block;
    }

    .sub-section, .sub-section-alt, footer
    {
        padding: 20px;
        padding-top: 80px;
    }

    .hero-text
    {
        margin-left: 10px;
    }

    h1 { font-size: 60px; }
    h2 { font-size: 40px; }
    p { font-size: 20px; }
}